.backspace{
    font-size: 21px;
    padding-top: 9px;
    padding-bottom: 3px;
    padding-right: 3px;
}

button{
    font-size: 30px;
    width: 60px;
}

.calculator-inner-frame{
    border: solid;
    border-radius: 10px;
    padding: 10px;
    background-color: gainsboro;
}

.calculator-outer-frame{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear{
    background-color: lightcoral;
}

.equals{
    background-color: lightblue;
}

#text{
    padding-top: 6px;
    text-align: right;
    direction: ltr;
    font-size: 30px;
    color: black;
    background-color: white;
}